/*
  Dark Grey : #1E2126
  Lighter Grey : #292A2E
  Dark Blue : #1F4664


 */

.app-background{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #1E2126;
  -webkit-box-shadow: inset 0px 96px 300px -76px rgba(31,70,100,1);
  -moz-box-shadow: inset 0px 96px 300px -76px rgba(31,70,100,1);
  box-shadow: inset 0px 96px 300px -76px rgba(31,70,100,1);
}
